<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/27be5b24-2f25-4cc9-8d1e-dfd03cc757f1/resourcegroups/SEA_DDAC/providers/Microsoft.Web/sites/DDACWEBAPP20170705060849</ResourceId>
    <ResourceGroup>SEA_DDAC</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ddacwebapp20170705060849.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ddacwebapp20170705060849.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DDACWEBAPP20170705060849</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DDACWEBAPP20170705060849</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>anglaifun4gmail.onmicrosoft.com</ADDomain>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DDAC_WEBAPP.Models.ApplicationDbContext, DDAC_WEBAPP" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://anglaifun4gmail.onmicrosoft.com/WebApp-ddacwebapp20170705060849.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>a638d0c6-f978-42b1-b4e7-48ec08834742</ADClientAPPID>
    <ADClientPassword>eo4qJvV+eu4DPQp5BKq9fTjiXUtK1rsZJqMVzSG1crI=</ADClientPassword>
    <ADReplyUrl>https://ddacwebapp20170705060849.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>705a6a7f-cd64-4233-9b19-1bb1bfd5e053</ADTenantId>
    <ADPostLogoutRedirectUri>https://ddacwebapp20170705060849.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
</Project>