<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/27be5b24-2f25-4cc9-8d1e-dfd03cc757f1/resourcegroups/WEU_DDAC/providers/Microsoft.Web/sites/DDACWEU20170714122811</ResourceId>
    <ResourceGroup>WEU_DDAC</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ddacweu20170714122811.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ddacweu20170714122811.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DDACWEU20170714122811</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DDACWEU20170714122811</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>anglaifun4gmail.onmicrosoft.com</ADDomain>
    <ADDirectoryAccessLevel>1</ADDirectoryAccessLevel>
    <ADAppIDUri>https://anglaifun4gmail.onmicrosoft.com/WebApp-ddacweu20170714122811.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>6d14cde3-1b54-4fad-9cd9-4708034cfae1</ADClientAPPID>
    <ADClientPassword>iLAVIb9925gbo24EtCJsErzB/EsOCiFnlU+uSPSdBw4=</ADClientPassword>
    <ADReplyUrl>https://ddacweu20170714122811.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>705a6a7f-cd64-4233-9b19-1bb1bfd5e053</ADTenantId>
    <ADPostLogoutRedirectUri>https://ddacweu20170714122811.azurewebsites.net/</ADPostLogoutRedirectUri>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="dbConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=weudbserver.database.windows.net;Initial Catalog=db;User ID=weuadmin;Password=FullAccess2017" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=weudbserver.database.windows.net;Initial Catalog=db;Persist Security Info=True;User ID=weuadmin;Password=FullAccess2017" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=weudbserver.database.windows.net;Initial Catalog=db;Persist Security Info=True;User ID=weuadmin;Password=FullAccess2017" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="dbConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=weudbserver.database.windows.net;Initial Catalog=db;User ID=weuadmin;Password=FullAccess2017</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>